# {{ ansible_managed }}
AccountID {{ maxmind_update_account_id }}
LicenseKey {{ maxmind_update_license_key }}
EditionIDs {{ maxmind_update_product_ids | join(' ') }}
DatabaseDirectory {{ maxmind_database_dir }}
